{% extends 'base.html' %}
{% load static %}

{% block content_table %}
{% if observation_list %}

    <!-- Content -->
    <div class="table-container">
        {% block table %}
            <table>
                {% block table.thead %}
                    <thead {{ table.attrs.thead.as_html }}>
                        <tr>
{#                            <th> Serial</th>#}
{#                            <th> Confirmed Case </th>#}
{#                            <th> Death Case </th>#}
{#                            <th> Province </th>#}
{#                            <th> Country </th>#}
                            <th> Country</th>
                            <th> Province </th>
                            <th> Confirmed Case </th>
                        </tr>
                    </thead>
                {% endblock table.thead %}
                {% block table.tbody %}
                    <tbody {{ table.attrs.tbody.as_html }}>
                    {% for observation in observation_list %}
                        {% block table.tbody.row %}
                        <tr {{ row.attrs.as_html }}>
{#                                <td {{ column.attrs.td.as_html }}>{{ observation.serial_num }}</td>#}
{#                                <td {{ column.attrs.td.as_html }}>{{ observation.confirmed_case }}</td>#}
{#                                <td {{ column.attrs.td.as_html }}>{{ observation.death_case }}</td>#}
{#                                <td {{ column.attrs.td.as_html }}>{{ observation.province_id.name }}</td>#}
{#                                <td {{ column.attrs.td.as_html }}>{{ observation.country_id.name }}</td>#}
                            {% for k, v in observation.items%}
                                <td {{ column.attrs.td.as_html }}>{{v}}</td>
                            {% endfor %}
                        </tr>
                        {% endblock table.tbody.row %}
                    {% endfor %}
                    </tbody>
                {% endblock table.tbody %}
            </table>
        {% endblock table %}
    </div>


{% else %}
    <p>No observations are available.</p>
{% endif %}
{%  endblock %}


{% block content_chart %}

    <div class="chart-container" style="position: relative; height:25vh; width:50vw">
    {#    <canvas id="covid_chart" data-url="{% url 'covid_chart' %}"></canvas>#}
    <canvas id="covid_chart" data-url=""></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        $(function () {

            var covidChart = $("#covid_chart");
            $.ajax({
                url : "http://127.0.0.1:8000/visual/covid_chart/",
                success: function (data) {
                    var ctx = covidChart[0].getContext("2d");

                    window.myObjBar = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                            label: 'Covid Confirmed Case',
                            backgroundColor: ['orange', 'blue', 'green'],
                            data: data.data
                            }]
                        },
                        options: {
                            responsive: true,
                                legend: {
                                    position: 'top',
                                },
                            title: {
                                display: true,
                                text: 'COVID19 Confirmed Case Bar Chart'
                            }
                        }
                    });
                }
            });

        });

    </script>

{% endblock %}

{% block content_area_chart %}

    <div class="chart-container" style="position: relative; height:25vh; width:35vw">
    {#    <canvas id="covid_chart" data-url="{% url 'covid_chart' %}"></canvas>#}
    <canvas id="covid_area_chart" data-url=""></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        $(function () {

            var covidAreaChart = $("#covid_area_chart");
            $.ajax({
                url : "http://127.0.0.1:8000/visual/covid_chart/",
                success: function (data) {
                    var ctx = covidAreaChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'polarArea',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Covid Confirmed Case',
                                fill: false,
                                backgroundColor: ['green', 'blue', 'orange'],
                                data: data.data
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'COVID19 Confirmed Case Polar Area Chart'
                            },
                        }
                    });
                }
            });
        });

    </script>

{% endblock %}


{% block content_line_chart %}

    <div class="chart-container" style="position: relative; height:25vh; width:35vw">
    {#    <canvas id="covid_chart" data-url="{% url 'covid_chart' %}"></canvas>#}
        <canvas id="covid_line_chart" data-url=""></canvas>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        $(function () {

            var covidLineChart = $("#covid_line_chart");
            $.ajax({
                url : "http://127.0.0.1:8000/visual/covid_chart/",
                success: function (data) {
                    var ctx = covidLineChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Covid Confirmed Case',
                                fill: false,
                                backgroundColor: ['green', 'blue', 'orange'],
                                data: data.data
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'COVID19 Confirmed Case Polar Area Chart'
                            },
                        }
                    });
                }
            });
        });

    </script>

{% endblock %}
