{% extends 'admin/master.html' %}
<title>{% block title %} User List {% endblock %}</title>
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User List</h1>
</div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.name }}</td>
            <td width="250px">
                {% if item.is_active %}
                    <input type="checkbox" checked>
                {% else %}
                    <input type="checkbox">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<!-- /.container-fluid -->
{% endblock content %}